/* ----------------------------- */
/* == General - Ipsum- Pixell    */
/* ----------------------------- */

a img {border: 0;}

a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}

/*---- Mise en page -------*/
body {
	background-color: #e9eaec;
	font-family:  Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	color: black;
}
	.conteneur {
		position: relative;
		width: 980px;
		background-color: #fbfbfc;
	}

/*---- Bandeau -------*/
.header {
	position: relative;
	background: #525a73;
	min-height: 120px;
}
	.header-slogan {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 2em;
		color: white;
	}
	.header-logo {
	}

/*---- Menu -------*/
.menu {
	background: #8e96af;
}
	.menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		.menu li {
			padding: .5em 10px ;
		}
		.menu li.lien_actif {
			background:  #737d9c;
		}
			.menu a {
				color: white;
				text-decoration: none;
				font-size: 1.2em;
			}
				.menu a:hover {
					text-decoration: none;
				}

/*---- Texte -------*/
.texte {
	min-height: 300px;
	background-color: #ebebeb;
}

/*---- Pied de page -------*/
.footer {
	color: #00B2D2;
}
	.footer p img {
		vertical-align: middle;
	}
	.footer a {
		color: #00B2D2;
		text-decoration: none;
	}
		.footer a:hover{
			text-decoration: underline;
		}

/*---- Formatage -------*/
img.bordure {
    border: 4px solid #ECBF92;
}

/*---- pagination-------*/
.pagination {
	text-align: center;
	padding-top: 15px;
	list-style-type: none;
}
    .pagination li {
        display: inline;
    }
    	.pagination a,
    	.pagination strong{
    		border: 1px solid #e1e4ec;
    		background: white;
    		padding: 1px 4px;
    	    margin-left: 4px;
    		text-decoration: none;
    		color: #d88107;
    	}
    	.pagination a:hover{
    		border: 1px solid #e1e4ec;
    		background: #f9dcc0;
    		color: white;
    	}
    	.pagination strong{
    		background: #e5f1ff;
    	}

/*---- Messages divers -------*/
.messages {
    border-radius: 4px;
    display: block;
    padding: 0px 5px 5px 50px;
    margin: 1em 1em;
    border: 1px solid;
    background: no-repeat 10px 10px;
}
    .messages a.closeMessage {
        margin: -.5em -.8em 0 0;
        display: none;
        width: 16px;
        height: 16px;
        float: right;
        background: url(close.png) no-repeat;
    }
    .messages.error {
        border-color: #C42608;
        color: #c00;
        background-color: #FFF0EF;
        background-image: url(cross.png);
        color: #c00;
    }
    .messages.success {
        background-color: #E0FBCC;
        border-color: #6DC70C;
        background-image: url(tick.png);
        color: #2B6301;
    }
    .messages.warning {
        background-color: #FFFCD3;
        border-color: #EBCD41;
        color: #000;
        background-image: url(warning.png);
        color: #5F4E01;
    }
    .messages.info {
        background-color: #DFEBFB;
        border-color: #82AEE7;
        background-image: url(help.png );
        color: #064393;
    }
    .messages_ancre {
        text-decoration: none;
        color: black !important;
    }
.form_erreur input,
.form_erreur textarea,
.p.form_erreur{
	background: #fce5e1;
}
.oblig {
	color: #ce0000 ;
}

/*---- Formulaire sans tableau -------*/
.saisie2 label {
	font-weight: bold;
	display: block;
}
.saisie2 input,
.saisie2 textarea {
	display: block;
}

/*---- blocs -------*/


