/*---------------------- Plus  --------------------------*/
/*-------------------<--  Pixell -->---------------------*/

/*---- Formulaire de saisie ----*/
.saisie {

}
	.saisie fieldset {
		background: #f1f1f1;
		border: 0 none;
		border-top: 1px solid;
	}
		.saisie legend {
			padding: 1em;
			font-weight: bold;
			font-size: 1.4em;
		}
	.saisie p {
		display: table;
		width: 100%;
	}
		.saisie p > label {
			display: table-cell;
			vertical-align: top;
			width: 35%;
			text-align: right;
			font-weight: bold;
			padding-right: 10px;
		}
	.saisie input[type=text],
	.saisie input[type=password],
	.saisie textarea,
	.saisie select {
		/*display: table-cell; ne pas mettre à cause ie8 */
		width: 250px;	
	}
	.saisie input[type=checkbox],
	.saisie input[type=radio] {
		margin-right: 5px;
		margin-left: 5px;
	}
        .saisie input.input_mini,
        .saisie textarea.input_mini,
        .saisie select.input_mini {
            width: 50px;   
        }
		.text_note {
			display: block;
			font-style: italic;
		}
		
/*---- Boutons ----*/
.boutons {
	width: 100%;
	display: table;
	text-align: right;
	margin: 10px 0;
}
	.boutons p {
		display: table-cell;
	}
	.boutons p.left {
		text-align: left;
	}
		
/*---- Tableaux -------*/
.liste  {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #cbc67d;
}
	.liste td, .liste tr, .liste th {
		padding: 2px 5px;
		border: 1px solid #d8dbe3;
	}
		.liste tr:hover {
			background: #e2e2e2;
		}
	.liste th {
		text-align: center;
		background: #525a73;
		color: white;
	}
		.liste th a{
			color: white;
			text-decoration:  none;
		}
			.liste th a:hover{
				text-decoration:  underline;
			}
	tr.impair {
		background-color: #f5f5f5;
	}
	tr.pair {
		background-color: #ebebeb;
	}
	
/*---- Boutons -------*/
.bouton {
	display: inline-block;
	/*font-weight: bold;*/
	color: black;
	padding: 2px 15px 2px 15px;
	border-radius: 5px;
	border: 0 none;
	cursor: pointer;
	border: 1px solid #a6a7a8;
	background: #e2e2e3; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNlMmUyZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYTBhMmEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #e2e2e3 35%, #a0a2a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#e2e2e3), color-stop(100%,#a0a2a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e3 35%,#a0a2a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e3 35%,#a0a2a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e3 35%,#a0a2a3 100%); /* IE10+ */
	background: linear-gradient(top,  #e2e2e3 35%,#a0a2a3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e3', endColorstr='#a0a2a3',GradientType=0 ); /* IE6-8 */
}
	.bouton.call_to_action {
		color: white;
		font-weight: bold;
		background: #980000;
		border:1px solid #980000;
		background: #ff4935; /* Old browsers */
		background: -moz-linear-gradient(top, #ff4935 0%, #980000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4935), color-stop(100%,#980000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ff4935 0%,#980000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ff4935 0%,#980000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ff4935 0%,#980000 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ff4935 0%,#980000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4935', endColorstr='#980000',GradientType=0 ); /* IE6-9 */	
	}
	a.bouton {
		text-decoration: none;
		padding: 2px 15px 2px 15px;
		color: black;
	}
		a.bouton.call_to_action {
			color: white;
		}
		a.bouton:hover {
			text-decoration: none;
		}
	.bouton:hover {
		-webkit-box-shadow: 0px 0px 10px 2px #d0d0d0;
		box-shadow: 0px 0px 10px 2px #d0d0d0;
		text-decoration: none;
	}
	.bouton.call_to_action:hover {
		-webkit-box-shadow: 0px 0px 10px 2px #b8b8b8;
		box-shadow: 0px 0px 10px 2px #b8b8b8;
	}
	.bouton.call_to_action:hover {
	}